<script>
import TimeAgo from '~/vue_shared/components/time_ago_tooltip.vue';
import timeagoMixin from '~/vue_shared/mixins/timeago';
import Diff from '~/diff';

export default {
  name: 'HistoryItem',
  components: {
    TimeAgo,
  },
  mixins: [timeagoMixin],
  data() {
    return {
      editedTime: 0,
      editedBy: null,
      visible: false,
      old_diff: null,
      new_diff: null,
    };
  },
  methods: {
    pressed() {
      // new Diff();
      // var content = $(".history-item-content");
      // var button = $(".js-history-item-toggle");
      // if (this.visible) {
      //   contentItem.removeClass("expanded");
      // } else {
      //   contentItem.addClass("expanded");
      // }
      this.visible = !this.visible;
    }
  }
};
</script>

<template>
  <section class="history-item no-animate" id="js-history-item">
    <div class="history-item-header">
      <button class="btn js-history-item-toggle" type="button" v-on:click="pressed">
        <p> Edited by {{editedBy}} {{timeFormated(editedTime)}}</p>
      </button>
    </div>
    <div class="history-item-content" v-show="visible">
      <div class="history-item-content-old" v-html="old_diff">
      </div>
      <div class="history-item-content-new" v-html="new_diff">
      </div>
    <!-- <div class="history-item-content"> -->
    </div>
  </section>
</template>

<style>
/*.history-item-content {
  overflow: hidden;
  height: 0px;
}
.expanded {
  animation: 300ms ease-in;
  height: 100px;
}*/
</style>
