- breadcrumb_title _("History")
- page_title _("History")
- @content_class = "limit-container-width" unless fluid_layout

%section.history.no-animate#js-history-item{ class: ('expanded' if expanded_by_default?) }
  .history-item-header
    %h4
      = _('Title (edited x hours ago)')
    %button.btn.js-history-toggle{ type: 'button' }
      = expanded_by_default? ? _('Collapse') : _('Expand')
  .history-item-content
    = render 'visibility_and_access'