<script>
import Vue from 'vue';
import $ from 'jquery';
import createFlash from '~/flash';
import Icon from '~/vue_shared/components/icon.vue';
import GfmAutoComplete from '~/gfm_auto_complete';
import { __, s__ } from '~/locale';
import Api from '~/api';
import { GlModal, GlTooltipDirective } from '@gitlab/ui';
import eventHub from './event_hub';
import HistoryItem from './history_item.vue';
import axios from '~/lib/utils/axios_utils'
import initHistoryItemPanel from './history_item.js'
import DiffContent from '../diffs/components/diff_content.vue';

export default {
  components: {
    GlModal,
    HistoryItem,
    DiffContent,
  },
  directives: {
    GlTooltip: GlTooltipDirective,
  },
  props: {
  },
  data() {
    return {
      file: "test",
      modalId: 'see-history-modal',
      noteEl: null,
    };
  },
  mounted() {
    eventHub.$on('openModal', this.openModal);
  },
  methods: {
    unescapeHtml(str) {
        var doc = new DOMParser().parseFromString(str, "text/html");
        return doc.documentElement.textContent;
      // return $('<div />').html(str).text();
    },

    setupHistory() {
      let $note = this.noteEl;
      // let noteContent = $note.find('.note-text').html();
      let $modalBody = $('.see-history-modal-content');

      // $modalBody.append(noteContent);

      const HistoryItemClass = Vue.extend(HistoryItem)

      const noteId = $note.data('note-id');

      axios
        .get(`${this.notesUrl}/${noteId}/revisions`)
        .then(({ data }) => {
          for (var i = data.length - 1 ; i >= 0; --i) {
            // console.log(data[i].note_html);
            let instance = new HistoryItemClass();
            instance.editedTime = data[i].created_at;
            // console.log(data[i].user);
            instance.editedBy = data[i].user.name;

            // instance.old_diff = data[i].old_diff;
            instance.new_diff = data[i].new_diff;

            // instance.old_diff = this.unescapeHtml(data[i].old_diff);
            // instance.new_diff = this.unescapeHtml(data[i].new_diff);
            instance.$mount();
            // $(instance.$el).find('.history-item-content').append(this.htmlEntities(old_diff));
            // $(instance.$el).find('.history-item-content').append(data[i].new_diff);
            // $(instance.$el).find('.js-history-item-toggle').trigger("click");
            // console.log(instance.$el);
            // initHistoryItemPanel($(instance.$el));
            $modalBody.append(instance.$el);
          }
        })
        .catch((error) => {
          console.log(error);
          // Flash(__('Something went wrong on our end.'));
        });
    },
    openModal(notesUrl, $note) {
      // console.log('see-history-modal-wrapper', notesUrl, $note);

      this.notesUrl = notesUrl;
      this.noteEl = $note;
      this.$root.$emit('bv::show::modal', this.modalId);
      // console.log($('.see-history-modal').html())
    },
    closeModal() {
      this.$root.$emit('bv::hide::modal', this.modalId);
    },
  },
};
</script>

<template>
  <gl-modal
    :title="s__('SeeHistoryModal|See history')"
    :modal-id="modalId"
    class="see-history-modal"
    @shown="setupHistory"
  >
    <div class="see-history-modal-content">

    </div>
    <diff-content
      :diff-file="file"
    />
  </gl-modal>
</template>
